
.cat-info {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    border: solid 2px;
    border-radius: 10px;
    background-color: bisque;
    width: 900px;
    margin: 100 auto;
    padding: 20px 20px;
}
.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.loader {
    text-align: center;
    position: relative;
    margin-top: 100px;
}
.breed-select{
    width: 300px;
    margin: 50 auto;
    display: none;
    height: 30px;
    background-color: lightgray;
    font-weight: bold;
 
}
.error {
    display: none;
}
